<div class="row">
  <div class="col-md-4">
    <input type="text" (keyup)="search()" [(ng-model)]="searchParam">
    <span>{{selectedPost.title}}</span>
    
  </div>
  <div class="col-md-4">
    <button class="btn btn-default" (click)="transTo()">切换到</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-striped">
      <tr>
        <th>Title</th>
      </tr>
      <tr *ng-for="#post of posts">
        <td (^click)="selectTarget(post)">{{post.title}}</td>
      </tr>
    </table>
  </div>
</div>