<div>
    <table>
        <tr>
            <th *ngFor="#column of options.columns">
                {{column.columnName}}
            </th>
        </tr>
        <tr *ngFor="#data of options.datas">
            <td *ngFor="#column of options.columns">
                <div *ngIf="column.cellCom === null">
                    {{data[column.data]}}
                </div>
                <div *ngIf="column.cellCom !== null">
                    <dycomcell [columnDef]="column" [data]="data" (delThisRow)="delRow($event)"></dycomcell>
                </div>
            </td>
        </tr>
    </table>
</div>