.DS_Store
target
.idea
.externalToolBuilders

accesslog

src/main/resources/react/.idea
src/main/resources/react/builds
src/main/resources/react/node_modules
src/main/resources/react/static

build
.gradle

docker/application.properties
docker/thirdlab.jar