.labtree {
    background: #fff;
    border-right: 1px solid #d9d9d9;
    box-shadow: -1px 1px 6px rgba(0,0,0,0.35);
    margin: 0 6px;
}
.labtree-btn {
    padding: 10px 15px;
}
.labtree-container {
  height: calc(100vh - 140px);
  overflow: auto;
}
.labtree-node span {
  color: #555;
}
.labtree-node-hide {
  display: none;
}
.labtree-nodes {
    list-style-type: none;
    padding-left: 15px;
}
.labtree-node-text {
    transition: padding 0.2s ease-out;
    color: #555;
    font-size: 14px;
    font-family: 'Titillium Web', 'Lucida Grande', 'Lucida Sans', sans-serif;
}
ul li span .aaa:hover {
    padding-left: 10px;
    color: #08c;
    text-decoration: none;
}

.ele-hide {
  display: none;
}
.topic_header {
    padding: 0 10px;
}
.topic_full_title {
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
}
.inner_topic_container {
    height: calc(100vh - 160px);
    border: 1px solid #e8e8e8;
    margin-top: 5px;
    overflow: auto;
}
.inner_topic {
    padding: 10px;
}
.tp-p0 {
    padding: 0px;
}
.tp-p2 {
    padding: 0px;
}
.tp-p3 {
    padding: 10px;
}
.tp-p4 {
    padding: 20px;
}
.tp-p5 {
    padding: 30px;
}
/* 章节信息 */
.chapter-nodes {
    margin: 15px;
    padding-left: 15px;
}
/* markdown */
.markdown-text pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 14px;
    border-width: 1px 0;
    background: #f3f3f3;
}
.markdown-text p {
    font-family: 'Ubuntu Mono', Monaco;
    font-size: 14px;
    line-height: 16px;
}
.markdown-text li {
    font-family: 'Ubuntu Mono', Monaco;
    font-size: 14px;
    line-height: 16px;
}
.markdown-text ul {
    list-style-type: square;
    padding-left: 20px;
}
.markdown-text h2 {
    font-size: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.markdown-text h3 {
    font-size: 18px;
}
.markdown-text h4 {
    font-size: 16px;
}
.markdown-text h5 {
    font-size: 14px;
}
.ace_editor {
    height: 300px;
}
