<h2>演示Form和数据绑定相关</h2>
<div class="row">
    <div class="col-md-12">
        <div>
            <button class="btn btn-default" (click)="resetInput()">reset</button>
            <input type="text" [(ngModel)]="inputText"> 输入文本为：{{inputText}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <label for="male">男</label>
            <input id="male" #male type="radio" value="Male" name="sex" (click)="inputRadio = male.value">
            <label for="female">女</label>
            <input id="female" #female type="radio" value="Female" name="sex" (click)="inputRadio = female.value">
            输入文本为：{{inputRadio}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>
            <button class="btn btn-default" (click)="resetInput()">reset</button>
            <input type="text" [(ngModel)]="inputText"> 输入文本为：{{inputText}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <select [(ngModel)]="selModel">
            <option *ngFor="#sel of sels" value="{{sel.name}}">{{sel.name}}</option>
        </select>
        <button class="btn btn-default" (click)="showSelect()">显示选择</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <p>User:
                <input type="text" [(ngModel)]="user" ngControl="user">
            </p>
            <p>Password:
                <input type="password" [(ngModel)]="password" ngControl="password">
            </p>
        </form>

        <button type="button" class="btn btn-default" (click)="showForm()">显示form</button>
    </div>
</div>
