<div class="row">
  <div class="col-md-3">
    <ul>
      <li [routerLink]="['./TryQuery']">
        <a href="#">Query</a>
      </li>
      <li [routerLink]="['./TryBind']">
        <a href="#">Bind</a>
      </li>
      <li [routerLink]="['./TryDi']">
        <a href="#">DI</a>
      </li>
      <li [routerLink]="['./TryCd']">
        <a href="#">Core Directives</a>
      </li>
      <li [routerLink]="['./TryTimeout']">
        <a href="#">Timeout Sort</a>
      </li>
      <li [routerLink]="['./TryTreeView']">
        <a href="#">Tree View</a>
      </li>
      <li [routerLink]="['./TryInput']">
        <a href="#">Input</a>
      </li>
      <li [routerLink]="['./TryHttp']">
        <a href="#">Http</a>
      </li>
      <li [routerLink]="['./TryPipe']">
        <a href="#">Pipe</a>
      </li>
      <li [routerLink]="['./TryTpl']">
        <a href="#">My Template</a>
      </li>
      <li [routerLink]="['./TryDyCom']">
        <a href="#">Dynamic Component</a>
      </li>
      <li [routerLink]="['./TryHostBind']">
        <a href="#">Host Binding</a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
