.topic_header {
    padding: 0 10px;
}
.topic_full_title {
    font-size: 24px;
    font-weight: 700;
    margin: 8px 0;
    display: inline-block;
}
.inner_topic_container {
  position: absolute;
  top: 160px;
  bottom: 20px;
}
.inner_topic {
    padding: 10px;
    border-top: 1px solid #7d7d7d;
}
/* 章节信息 */
.chapter-nodes {
    margin: 15px;
    padding-left: 15px;
}
/* markdown */
.markdown-text pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 16px;
    border-width: 1px 0;
    background: #f3f3f3;
}
.markdown-text ul {
    list-style-type: square;
    padding-left: 20px;
}
.markdown-text h2 {
    font-size: 24px;
    border-bottom: 1px solid #e5e5e5;
}
.markdown-text h3 {
    font-size: 22px;
}
.markdown-text h4 {
    font-size: 20px;
}
.ace_editor {
    height: 300px;
}
