<div class="container-fluid air">
    <div class="row air-nav">
        <div class="col-md-12">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AIR</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li [routerLink]="['/Wiki', 'Wikiindex']">
                    <a href="#">Wiki</a>
                </li>
                <li [routerLink]="['/Todo']">
                    <a href="#">Todo</a>
                </li>
                <li [routerLink]="['/TryView', 'TryQuery']">
                    <a href="#">Ng2Lab</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
