<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div>
        <a class="btn btn-primary" ui-sref="wiki.editid({id:post.id})" >编辑</a>
        <button class="btn btn-default" ng-click="delete()">删除</button>
        <button class="btn btn-default" ng-click="createSubPost()">添加子文章</button>
      </div>

      <div class="topic_header">
        <span class="topic_full_title">{{post.title}}</span>
      </div>
      <div class="inner_topic">
        <div class="markdown-text" ng-bind-html="ppp"></div>
      </div>

    </div>
  </div>
</div>
