<div class="row">
    <div class="col-md-12">
        <ul class="projecttree">
            <li class="projectitem" *ngFor="#item of projectitems">
                <div [class.pitem4project]="isProject(item)">
                    <i *ngIf="isProject(item)" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <i *ngIf="isProject(item) == false" class="fa fa-folder-open-o" aria-hidden="true"></i>
                    <span (click)="selectProject(item)">{{item.name}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-primary" (click)="addGroup()">Add Group</button>
        <button class="btn btn-primary" (click)="addProject()">Add Project</button>
    </div>
</div>