<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" [ng-form-model]="form" #f="form">
            <div class="form-group">
                <div class="col-md-8">
                    <input ng-control="title" class="form-control" type="text">
                    <show-error control="title" [errors]="['required', 'tooShort']"></show-error>
                </div>
                <label class="col-md-1 control-label">ID：</label>
                <div class="col-md-1">
                    <input ng-control="id" class="form-control" readonly type="text">
                </div>
                <label class="col-md-1 control-label">上级：</label>
                <div class="col-md-1">
                    <input ng-control="parantId" class="form-control" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <textarea class="form-control textarea-height edit-text" (keyup)="onChange()" ng-control="postText"></textarea>
                        </div>
                        <div class="col-md-6 inner_topic">
                            <div class="markdown-text textarea-height" [inner-html]="postView"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button (click)="create($event)" [disabled]="!f.form.valid" class="btn btn-primary">保存</button>
                    <button (click)="cancel($event)" class="btn btn-default">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
