<div class="row">
  <h3>编辑</h3>
</div>
<div class="row">
  <form class="form-horizontal" [ng-form-model]="form" #f="form">
    <div class="form-group">
      <label class="col-md-2 control-label">ID：</label>
      <div class="col-md-10">
        <input ng-control="id" class="form-control" readonly type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">上级：</label>
      <div class="col-md-10">
        <input ng-control="parantId" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">标题：</label>
      <div class="col-md-10">
        <input ng-control="title" class="form-control" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">内容：</label>
      <div class="col-md-10">
        <textarea class="form-control" ng-control="postText" row="30"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button (click)="create($event)" [disabled]="!f.form.valid" class="btn btn-default">保存</button>
      </div>
    </div>
  </form>
</div>