<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" #f="ngForm">
            <div class="form-group">
                <div class="col-md-8">
                    <input type="text" class="form-control" ngControl="title" [(ngModel)]="post.title" required>
                    <show-error control="title" [errors]="['required', 'tooShort']"></show-error>
                </div>
                <label class="col-md-1 control-label">ID：</label>
                <div class="col-md-1">
                    <input type="text" class="form-control" [value]="post.id" readonly >
                </div>
                <label class="col-md-1 control-label">上级：</label>
                <div class="col-md-1">
                    <input type="text" class="form-control" ngControl="parantId" [(ngModel)]="post.parantId" >
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <textarea class="form-control wikicreatearea-height edit-text" [(ngModel)]="post.postText" (keyup)="onChange()" ngControl="postText" required></textarea>
                        </div>
                        <div class="col-md-6 inner_topic">
                            <div class="markdown-text textarea-height" [innerHtml]="postView"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button (click)="create($event)" [disabled]="!f.form.valid" class="btn btn-primary">保存</button>
                    <button (click)="cancel($event)" class="btn btn-default">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>
