$white: #fff;
$white2: #f7f7f7;
$gray: #eee;
$gray2: #e5e5e5;
$light-gray: #ccc;
$light-black: #555;
$black: #000;
$green: #d5e6b1;
$blue: #08c;

$global-font: 'Lucida Sans Unicode', 'Lucida Grande', Helvetica, Arial, sans-serif;
$code-font: Monaco, Menlo, Consolas, 'Courier New', monospace;
$show-font: 'Ubuntu Mono', Monaco, 'sans-serif';

